@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.aside-links {
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 1224px) {
  aside {
    width: 200px;
  }
}

.hamburger-button {
  display: none;
}

.hamburger-button .line {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.hamburger-button .line:not(:last-child) {
  margin-bottom: 4px;
}

.hamburger-button.open .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-button.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-button.open .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.copyright-text {
  font-size: 11px;
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}

.main { 
  min-width: 0;
}

.swiper-container {
  width: 80%;
  padding: 2rem;
  max-height: 80vh;  
  min-height: 0;
  min-width: 0;
}

@media only screen and (max-width: 874px) {
  .swiper-container  {
    width: 100%;
  }

  nav {
    height: 5vh;
    padding: 2.5rem 1.5rem;
    width: 100%;
  }

  aside {
    transform: translateX(-100%);
    background-color: #ffffff;
  }

  .hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: #22c55e;
    /* padding-left: 1rem; */
    z-index: 50;
    transition: 0.5s ease;
  }

  .aside-img {
    visibility: hidden;
  }

  .main-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
}

.swiper-wrapper {
  max-height: 100%;
  height: 100%;
  display: flex;
}

.swiper-pagination {
  padding: 10px 0;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.side-links {
  width: 100%;
}

.side-links > a {
  width: 100%;
  height: 100%;
  display: block !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.form-container label {
  padding: 0.8rem 1rem 0;
  color: #9ca3af;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -3rem;
}

input[type="text"], 
input[type="integer"], 
input[type="url"], 
input[type="number"] {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #acacac;
  width: 65%;
}

button[type="submit"] {
  padding: 0.8rem 1.4rem;
  border-radius: 20px;
  margin: 0;
  background: #22c55e;
  color: #ffffff;
}

.btn-group {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 874px) {
  .form-container {
    width: 100%;
    margin-top: 5rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 65%;
  }

  input[type="text"], 
  input[type="integer"], 
  input[type="url"], 
  input[type="number"] {
    width: 100%;
  }
}

.details-container {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.details-image {
  width: 65%;
  border-radius: 2rem;
  margin: 1rem;
}

.details-info {
  margin: 2rem;
  text-align: right;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-name {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 10px;
}

.details-description {
  padding-right: 10px;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.details-list li {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.details-list li:nth-child(even) {
  background-color: #e0e0e0;
}

.details-link-container {
  padding-top: 3rem;
}

.details-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-right: 15px;
}

.reserve-btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.details-reserve-btn {
  padding: 18px 25px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  background-color: #22c55e;
  width: 175px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.details-reserve-btn > button {
  display: flex;
  flex-direction: row;
  gap: 25px;
  text-align: center;
  align-items: center;
}

.reserve-text {
  margin-bottom: -5px;
}

@media only screen and (max-width: 980px) {
  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: auto;
    max-height: 100%;
    margin-right: 2rem;
  }

  .details-image {
    height: 70vh;
    width: 100%;
  }

  .details-info {
    width: 100%;
  }

  .details-link-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .details-reserve-btn {
    padding: 15px 20px;
  }
}
